</body>
<!-- Footer Start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="mb-0">Copyrights© Web App Group
                    <a href="/" class="text-white" target="_blank">Gather Grid</a>
                </p>
            </div>
            <div class="col-lg-6">
                <div class="widget footer-widget text-lg-right mt-5 mt-lg-0">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com" target="_blank">
                                <i class="ti-facebook mr-3"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/home" target="_blank">
                                <i class="ti-twitter mr-3"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/JxRiera/eventmanager" target="_blank">
                                <i class="ti-github mr-3"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.pinterest.ca/" target="_blank">
                                <i class="ti-pinterest mr-3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- jQuery -->
<script src="/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/plugins/aos/aos.js"></script>
<script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="/plugins/shuffle/shuffle.min.js"></script>
<script src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/plugins/animated-text/animated-text.js"></script>
<script src="/plugins/counto/apear.js"></script>
<script src="/plugins/counto/counTo.js"></script>
<script src="/plugins/bootstrap/modal.min.js"></script>   <!-- modal logic -->

<!-- Google Map -->
<script src="/plugins/google-map/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script> 

<!-- Main Script -->
<script src="/js/script.js"></script>

</html>
