</body>
<!-- Footer Start -->
<footer class="footer mt-5 p-5 text-white" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="mb-0"><i>Copyrights©</i>
                    <a href="/" style="color: rgb(255, 77, 0)" target="_blank">Gathergrid</a>
                </p>
            </div>
            <div class="col-lg-6">
                <div class="widget footer-widget text-lg-right mt-5 mt-lg-0">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com" style="color: rgb(255, 77, 0)" target="_blank">
                                <i class="ti-facebook mr-3"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com" style="color: rgb(255, 77, 0)" target="_blank"> 
                                <i class="ti-twitter mr-3"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com" style="color: rgb(255, 77, 0)" target="_blank">
                                <i class="ti-github mr-3"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.pinterest.ca/" style="color: rgb(255, 77, 0)" target="_blank">
                                <i class="ti-pinterest mr-3 "></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- jQuery -->
<script src="/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/plugins/aos/aos.js"></script>
<script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="/plugins/shuffle/shuffle.min.js"></script>
<script src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/plugins/animated-text/animated-text.js"></script>
<script src="/plugins/counto/apear.js"></script>
<script src="/plugins/counto/counTo.js"></script>
<script src="/plugins/bootstrap/modal.min.js"></script>   <!-- modal logic -->

<!-- Main Script -->
<script src="/js/script.js"></script>

</html>
