
<nav class="navbar navbar-expand-lg main-nav font-weight-bold border-bottom pb-3" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="images/logo.png" alt="Gathergrid Logo" class="img-fluid">
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="ti-align-justify"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
          <% if (user) { %>
            <% if (org) { %>
              <li class="nav-item  active"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/events/create">Create Event</a></li>
              <li class="nav-item"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/events/view">Edit Event</a></li>
              <li class="nav-item"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/profile">Profile</a></li>
              <li class="nav-item"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/" id="logout">Logout</a></li>
            <% } else { %>
              <li class="nav-item  active"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/events/view">My Events</a></li>
              <li class="nav-item"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/profile">Profile</a></li>
              <li class="nav-item"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/" id="logout">Logout</a></li>
            <% } %>
          <% } else { %>
            <li class="nav-item  active"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/signup">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" style="color: black" onmouseover="this.style.color='rgb(255, 77, 0)'" onmouseout="this.style.color='black'" href="/login">Log In</a></li>
          <% } %>
      </ul>
    </div>      
  </div>       
</nav>

<script>
  document.getElementById('logout').addEventListener('click',async function(event) {
    event.preventDefault();

    await fetch('/logout', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    })

    window.location.href = "/"; 
  });
</script>