<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/signup">Sign Up</a>
        <a class="nav-item nav-link" href="/login">Log In</a>
        <a class="nav-item nav-link" href="/events/create">Create Event</a>
        <a class="nav-item nav-link" href="/events/view">View Event</a>
      </div>
    </div>
  </nav>