<%- include('partials/header') %>

<ul>
    <li>
        <h3>Jose Riera</h3>
        <p>CEO</p>
    </li>
    <li>
        <h3>John Doe</h3>
        <p>CFO</p>
    </li>
    <li>
        <h3>Tiko Tiko</h3>
        <p>Un payaso</p>
    </li>
    
</ul>

<%- include('partials/footer') %>
