<%- include('partials/header') %>

<%- include('partials/nav_bar') %>

<section class="page-title section pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h1 class="text-capitalize mb-0 text-lg">Event 1 Name</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="section portfolio-single">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <img src="images/events/3.jpg" alt="" class="img-fluid w-100">
              </div>
  
              <div class="col-lg-6">
                  <div class="project-info">
                      <h3 class="mb-4">Event Type (Party)</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eligendi fugiat ad cupiditate hic, eum debitis ipsum, quos non mollitia. Commodi suscipit obcaecati et, aperiam quas vero quo, labore tempore.</p>
  
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam debitis beatae doloremque cupiditate vel repellat nam est voluptates, magnam quod explicabo fugit, quidem.</p>
  
                      <div class="row mt-4">
                          <div class="col-lg-6">
                              <div class="info">
                                  <h5 class="mb-0">Organized by</h5>
                                  <p>Organizer Name</p>
                              </div>
  
                              <div class="info">
                                  <h5 class="mb-0">Date</h5>
                                  <p>Enter Date</p>
                              </div>
                              <div class="mt-4">
                                  <a href="#" class="btn btn-main btn-small">Get Tickets</a>
                              </div>
                          </div>
  
                          <div class="col-lg-6">
                              <div class="info">
                                  <h5 class="mb-0">Category</h5>
                                  <p>Web Design</p>  
                              </div>

                              <div class="info">
                                  <h5>Share</h5>
                                  <a href="https://www.facebook.com/"><i class="ti-facebook"></i></a>
                                  <a href="https://twitter.com/"><i class="ti-twitter"></i></a>
                                  <a href="https://www.pinterest.ca/"><i class="ti-pinterest"></i></a>
                                  <a href="https://dribbble.com/"><i class="ti-dribbble"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>



      </div>
  </section>



  <section class="section service-home border-top">
    <%- include('partials/carousel') %>
  </section>


<%- include('partials/footer') %>

