<%- include('partials/header') %>

<h2>Event Manager</h2>

<a href="/signup">Sign Up</a>

<a href="/events/create">Create an Event</a>
<a href="/events">View Events (Not done yet)</a>

<%- include('partials/footer') %>

