<%- include('partials/header') %>
<%- include('partials/nav_bar') %>

<!-- Login Stylesheet -->
<link rel="stylesheet" href="/css/login.css">
    <div class="content">
        <div class="wMessage-container">
            <div class="wMessage">Welcome to Gathergrid!</div>
            <p>Redefining Entertainment, One Event at a Time: Join the Celebration Revolution with GatherGrid,
                Your Passport to Unleashing Joy, Creativity, and Endless Memories</p>
            <img src="/images/girl.jpg" alt="Girl Posing" class="loginImg img-thumbnail">
        </div>
        <div class="card">
            <main class="container">
                <h2>log in with your account</h2>
                <form id="login-form">
                    <div class="txt_field">
                        <input type="text" name="email" required />
                        <label>Email</label>
                    </div>
                    <div class="email error"></div> 
                    <div class="txt_field">
                        <input type="password" name="password" required />
                        <label>Password</label>
                    </div>
                    <div class="password error"></div> 
                    <button type="submit">Login</button>

                    <div class="legends">
                        <div><a href="/signup">Don't have an account?</a></div>
                    </div>
                </form>
            </main>
        </div>
    </div>
<%- include('partials/footer') %>

<script>
    const form = document.getElementById('login-form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                credentials: "include",
                headers: {'Content-Type': 'application/json'}
            });

            window.location.href = "/"; 

        } catch (ex) {
            console.error("Following error occurred: ", ex);
        }
    });
</script>
</html>
